<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="logo">
                    <svg class="logo" routerLink="/" xmlns:xlink="http://www.w3.org/1999/xlink" height="26px"
                        version="1.1" viewBox="0 0 185 26" width="185px" xmlns="http://www.w3.org/2000/svg">
                        <g _ngcontent-sc1="" fill="#fff" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                            <g _ngcontent-sc1="" id="A6" transform="translate(-30.000000, -113.000000)" class="light">
                                <g _ngcontent-sc1="" id="Group" transform="translate(30.000000, 113.000000)">
                                    <g _ngcontent-sc1="" fill-rule="nonzero" id="icon">
                                        <polygon _ngcontent-sc1="" id="Path"
                                            points="0 0 0 5.60685249 16.0895884 9.02481464 16.0895884 19.6593673 5.84695881 19.6593673 5.84695881 9.64003334 0 9.64003334 0 26 22 26 22 4.57337499">
                                        </polygon>
                                    </g><text _ngcontent-sc1="" font-family="Avenir, IBM Plex Sans, sans-serif"
                                        font-size="19" font-weight="600" id="LoanUnbox.com" letter-spacing="0.527777778"
                                        class="light">
                                        <tspan _ngcontent-sc1="" x="32.1449444" y="21">LoanUnbox</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <p class="mt-2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quia esse atque quibusdam
                    consectetur deleniti veritatis quod exercitationem error commodi debitis molestiae fugit ullam
                    voluptatum,
                </p>
                <ul class="pl-0 mt-3">
                    <li>
                        <a class="social-links" href="https://www.facebook.com/LoanUnbox/" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="social-links" href="https://www.twitter.com/LoanUnbox" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="social-links" href="https://www.linkedin.com/company/loanunbox/" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="social-links" href="https://t.me/loanunbox" target="_blank">
                            <i class="fa fa-link"></i>
                        </a>
                        <a class="social-links" href="https://wa.me/919481122404" target="_blank">
                            <i class="fa fa-whatsapp"></i>
                        </a>
                        <a class="social-links" href="https://www.youtube.com/channel/UCDRHesVfggxzKaoZZDRToBQ" target="_blank">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a class="social-links" href="https://www.instagram.com/loanunbox.offical" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <a href="#" class="copyright">
                    <i class="fa fa-copyright"></i>
                    <span>2020 - Loanunbox</span>
                </a>
            </div>
            <div class="col-md-2 d-none d-md-block d-lg-block"></div>
            <div class="col-md-2 d-none d-md-block d-lg-block mx-auto">
                <p class="footer-heading">Helpful Links</p>
                <ul class="p-0">
                    <li>
                        <p class="cursor-pointer" routerLink="/">Home</p>
                        <p class="cursor-pointer" routerLink="/lead">Lead</p>
                        <p class="cursor-pointer" routerLink="/leads">All Leads</p>
                        <p class="cursor-pointer" routerLink="/about">About Us</p>
                        <p class="cursor-pointer" routerLink="/contact">Contact Us</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 d-none d-md-block d-lg-block"></div>
            <div class="col-md-2 d-none d-md-block d-lg-block mx-auto">
                <p class="footer-heading">Legal Information</p>
                <ul class="p-0">
                    <li>
                        <p class="cursor-pointer" routerLink="#">Terms of use</p>
                        <p class="cursor-pointer" routerLink="#">Privacy Policy</p>
                        <p class="cursor-pointer" routerLink="#">Disclaimer</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>