<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <h5>Edit profile</h5>
                <input type="test" formControlName="name" class="form-control">
                <div *ngIf="validation.name.errors && validation.name.dirty">
                    <div class="text-danger" *ngIf="validation.name?.errors?.required">Field is required!
                    </div>
                </div>
                <label for="male">Male</label>
                <input type="radio" id="male" formControlName="gender" value="male">
                <label for="female">Female</label>
                <input type="radio" id="female" formControlName="gender" value="female">
                <br>
                <button class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>