<br><br>
<div class="container">
    <div class="row login-container px-2">
        <div class="col-md-6 mx-auto my-auto card p-3 shadow">
            <div class="mb-5 text-center">
                <svg class="cursor-pointer" routerLink="/" xmlns:xlink="http://www.w3.org/1999/xlink" height="35px"
                    version="1.1" viewBox="0 0 185 26" width="185px" xmlns="http://www.w3.org/2000/svg">
                    <g _ngcontent-sc1="" fill="#FD786B" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                        <g _ngcontent-sc1="" id="A6" transform="translate(-30.000000, -113.000000)" class="light">
                            <g _ngcontent-sc1="" id="Group" transform="translate(30.000000, 113.000000)">
                                <g _ngcontent-sc1="" fill-rule="nonzero" id="icon">
                                    <polygon _ngcontent-sc1="" id="Path"
                                        points="0 0 0 5.60685249 16.0895884 9.02481464 16.0895884 19.6593673 5.84695881 19.6593673 5.84695881 9.64003334 0 9.64003334 0 26 22 26 22 4.57337499">
                                    </polygon>
                                </g>
                                <text _ngcontent-sc1="" font-family="Avenir, IBM Plex Sans, sans-serif" font-size="19"
                                    font-weight="600" id="LoanUnbox.com" letter-spacing="0.527777778" class="light">
                                    <tspan _ngcontent-sc1="" x="32.1449444" y="10">LoanUnbox</tspan>
                                    <tspan _ngcontent-sc1="" x="32.1449444" y="30">Partner</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <div class="mb-5 text-center">
                <h3>Register</h3>
            </div>

            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <div class="col-md-12 my-3 px-0">
                    <div class="row">
                        <div class="col-md-6 my-2">
                            <label>Enter your first name*</label>
                            <input type="text" formControlName="firstName" class="form-control border"
                                placeholder="Enter Your First Name*">
                            <div *ngIf="validation.firstName.errors && validation.firstName.dirty">
                                <div class="text-danger" *ngIf="validation.firstName?.errors?.required">Field is
                                    required!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <label>Enter your last name*</label>
                            <input type="text" formControlName="lastName" class="form-control border"
                                placeholder="Enter Your Last Name*">
                            <div *ngIf="validation.lastName.errors && validation.lastName.dirty">
                                <div class="text-danger" *ngIf="validation.lastName?.errors?.required">Field is
                                    required!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-2 col-12">
                            <label>Enter your date of birth (DOB)*</label>
                            <input type="date" formControlName="dob" class="form-control border">
                            <div *ngIf="validation.dob.errors && validation.dob.dirty">
                                <div class="text-danger" *ngIf="validation.dob?.errors?.required">Field is required*
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 my-2 col-12">
                            <label>Enter your Email-ID*</label>
                            <input type="email" formControlName="email" class="form-control border"
                                placeholder="Enter Email-ID*">
                            <div *ngIf="validation.email.errors && validation.email.dirty">
                                <div class="text-danger" *ngIf="validation.email?.errors?.required">Email is required
                                </div>
                                <div class="text-danger" *ngIf="validation.email?.errors?.pattern">Email must be a valid
                                    email
                                    address</div>
                            </div>
                        </div>

                        <div class="col-md-6 my-2" formGroupName="address_details">
                            <label>Address Details (Optional)</label> <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control border mb-2" formControlName="flat_street"
                                        placeholder="Flat/Street">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control border mb-2" formControlName="address"
                                        placeholder="Address">
                                </div>
                                <div class="col-md-6 col-6">
                                    <input type="number" class="form-control border mb-2" formControlName="pincode"
                                        placeholder="Pincode">
                                </div>
                                <div class="col-md-6 col-6">
                                    <input type="text" class="form-control border mb-2" formControlName="city"
                                        placeholder="City">
                                </div>
                                <div class="col-md-12">
                                    <!-- <input type="text" class="form-control border mb-2" formControlName="state"
                                        placeholder="State"> -->
                                        <select formControlName="state" class="form-control border mb-2">
                                            <option value="" disabled>--Select State--</option>
                                            <option *ngFor="let state of allStates" [value]="state?.name">{{state?.name}}</option>
                                        </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 my-2">
                            <label>Gender</label>
                            <div class="d-flex">
                                <div class="form-check mr-3">
                                    <input class="form-check-input" type="radio" formControlName="gender" value="male"
                                        id="male">
                                    <label class="form-check-label" for="male">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check mr-3">
                                    <input class="form-check-input" type="radio" formControlName="gender" value="female"
                                        id="female">
                                    <label class="form-check-label" for="female">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 my-2">
                            <label>Please create new password*</label>
                            <input type="password" class="form-control border w-100" formControlName="password"
                                placeholder="Create Password">
                            <div *ngIf="validation.password.errors && validation.password.dirty">
                                <div class="text-danger" *ngIf="validation.password.errors?.required">Password is
                                    required!
                                </div>
                                <div class="text-danger" *ngIf="validation.password.errors?.pattern">
                                    Your password must be have at least <br>
                                    <ul>
                                        <li>1 Uppercase & 1 lowercase character</li>
                                        <li>1 Number</li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                        </div>

                        <div class="col-md-6 my-2">
                            <label>Please confirm your password*</label>
                            <input type="text" class="form-control border w-100" formControlName="confirm_password"
                                (keyup)="comparePassword()" placeholder="Confirm Password">
                            <div *ngIf="validation.confirm_password.errors && validation.confirm_password.dirty">
                                <div class="text-danger" *ngIf="validation.confirm_password?.errors?.required">Please
                                    Confirm the
                                    password!</div>
                            </div>
                            <p class="text-danger m-0" *ngIf="!comparePassword() && validation.confirm_password.dirty">
                                Password not match!</p>
                            <br>
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary my-4 w-100"
                                [disabled]="formData.invalid || !comparePassword()">Next</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br><br>