<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12 border-bottom">
            <div class="row">
                <div class="col-md-6 col-6 my-auto">
                    <h4>Dashboard</h4>
                </div>
                <div class="col-md-6 col-6 text-right d-block d-md-none d-lg-none">
                    <button class="btn btn-primary font-x-small" routerLink="/lead">Create Lead</button>
                </div>
                <div class="col-md-6 col-6 text-right d-none d-md-block d-lg-block">
                    <button class="btn btn-primary" routerLink="/lead">Create Lead</button>
                </div>
            </div>
            <p class="text-muted mt-1">This is the lead and loan statistics.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-6 p-3">
            <div class="card">
                <div class="my-auto">
                    <h5>{{allLeads.length}}</h5>
                    <p class="text-muted mb-0">Total Leads</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-6 p-3">
            <div class="card">
                <div class="my-auto">
                    <h5>{{approvedLeads.length}}</h5>
                    <p class="text-muted mb-0">Approved Loans</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-6 p-3">
            <div class="card">
                <div class="my-auto">
                    <h5>{{progressLeads.length}}</h5>
                    <p class="text-muted mb-0">In-Progress Loans</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-6 p-3">
            <div class="card">
                <div class="my-auto">
                    <h5>{{rejectedLeads.length}}</h5>
                    <p class="text-muted mb-0">Rejected Loans</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-2">
        <div class="col-md-6 text-center">
            <img src="../../../assets/images/create-loan.png" width="60%" alt="">
        </div>
        <div class="col-md-6 my-auto">
            <h4>Refer and earn More! with LoanUnbox.</h4>
            <p class="text-muted">
                LoanUnbox Partner! Now open for Referring Personal loan, Business Loan, Home Loan, Mortgage Loan, SME
                loans,
                Insurance and many more products line.
            </p>
            <button class="btn btn-primary" routerLink="/lead">Create Lead</button>
        </div>
    </div>
    <br>
    <div class="w-100 d-block d-md-none d-lg-none">
        <div class="row border bg-white mx-1 px-2 py-3" style="border-radius: 15px;">
            <div class="col-md-6 col-6 my-auto">
                <h4>Have any Query?</h4>
                <p>
                    Just WhatsApp Us
                </p>
                <a class="btn btn-primary text-white shadow rounded-0 shadow w-100" target="_blank"
                    href="https://wa.me/919481122404"><i class="fa fa-whatsapp"></i> Whatsapp</a>
            </div>
            <div class="col-md-6 col-6 text-center">
                <img src="../../../assets/images/refer-removebg-preview.png" width="100%" alt="">
            </div>
        </div>
    </div>

    <div class="w-100 d-none d-md-block d-lg-block">
        <div class="row border bg-white mx-1" style="border-radius: 15px;">
            <div class="col-md-6 col-6 my-auto text-center">
                <h4>Have any Query?</h4>
                <p>
                    Just WhatsApp Us
                </p>
                <a class="btn btn-primary text-white shadow rounded-0 shadow" target="_blank"
                    href="https://wa.me/919481122404"><i class="fa fa-whatsapp"></i> Whatsapp</a>
            </div>
            <div class="col-md-6 col-6 text-center">
                <img src="../../../assets/images/refer-removebg-preview.png" width="40%" alt="">
            </div>
        </div>
    </div>
</div>
<br><br>