<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12 border-bottom">
            <h4>Dashboard</h4>
            <p class="text-muted">This is the lead and loan statistics.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-6 p-3">
            <div class="card">
                <div class="my-auto">
                    <h5>0</h5>
                    <p class="text-muted mb-0">Total Leads</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-6 p-3">
            <div class="card">
                <div class="my-auto">
                    <h5>0</h5>
                    <p class="text-muted mb-0">Approved Loans</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-6 p-3">
            <div class="card">
                <div class="my-auto">
                    <h5>0</h5>
                    <p class="text-muted mb-0">In-Progress Loans</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-6 p-3">
            <div class="card">
                <div class="my-auto">
                    <h5>0</h5>
                    <p class="text-muted mb-0">Rejected Loans</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-6 text-center">
            <img src="../../../assets/images/create-loan.png" width="60%" alt="">
        </div>
        <div class="col-md-6 my-auto">
            <h4>The best loan unboxing experience</h4>
            <p class="text-muted">
                We create loan unboxing simple. You will be able to compare oﬀers side by side, speak with a loan
                consultant to talks, or in many cases, apply online. Select and unbox the best loan that you desired,
                finally unbox the best loan offers!
            </p>
            <button class="btn btn-primary" routerLink="/lead">Create Lead</button>
        </div>
    </div>
</div>