<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <h5>otp page</h5>
                <input type="number" formControlName="otp" class="form-control">
                <div *ngIf="validation.otp.errors && validation.otp.dirty">
                    <div class="text-danger" *ngIf="validation.otp?.errors?.required">Field is required!
                    </div>
                </div>
                <button class="btn btn-primary">Send OTP</button>
            </form>
        </div>
    </div>
</div>