<!-- <div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <h5>Create New password password</h5>
                <div class="p-inputgroup">
                    <input type="password" class="w-100" formControlName="password">
                </div>
                <div *ngIf="validation.password.errors && validation.password.dirty">
                    <div class="text-danger" *ngIf="validation.password.errors?.pattern">Please set a strong password!
                    </div>
                </div>
                <label>Confirm Password</label>
                <div class="p-inputgroup">
                    <input class="w-100" formControlName="confirm_password" (keyup)="comparePassword()">
                </div>
                <div *ngIf="validation.confirm_password.errors && validation.confirm_password.dirty">
                    <div class="text-danger" *ngIf="validation.confirm_password?.errors?.required">Password is
                        required</div>
                </div>
                <p class="text-danger m-0" *ngIf="!comparePassword() && validation.confirm_password.dirty">
                    Password not match!</p>
                <br>
                <button class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="row login-container">
        <div class="col-md-4 mx-auto my-auto">
            <div class="mb-5">
                <svg class="logo cursor-pointer" routerLink="/" xmlns:xlink="http://www.w3.org/1999/xlink" height="26px"
                    version="1.1" viewBox="0 0 185 26" width="185px" xmlns="http://www.w3.org/2000/svg">
                    <g _ngcontent-sc1="" fill="#FD786B" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                        <g _ngcontent-sc1="" id="A6" transform="translate(-30.000000, -113.000000)" class="light">
                            <g _ngcontent-sc1="" id="Group" transform="translate(30.000000, 113.000000)">
                                <g _ngcontent-sc1="" fill-rule="nonzero" id="icon">
                                    <polygon _ngcontent-sc1="" id="Path"
                                        points="0 0 0 5.60685249 16.0895884 9.02481464 16.0895884 19.6593673 5.84695881 19.6593673 5.84695881 9.64003334 0 9.64003334 0 26 22 26 22 4.57337499">
                                    </polygon>
                                </g><text _ngcontent-sc1="" font-family="Avenir, IBM Plex Sans, sans-serif"
                                    font-size="19" font-weight="600" id="LoanUnbox.com" letter-spacing="0.527777778"
                                    class="light">
                                    <tspan _ngcontent-sc1="" x="32.1449444" y="21">LoanUnbox</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>

            <div class="mb-5">
                <!-- <p class="mb-0">Welcome to</p> -->
                <h3>Reset Password</h3>
            </div>

            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <label>Please create new password*</label>
                <input type="password" class="form-control border w-100" formControlName="password"
                    placeholder="Create Password">
                <div *ngIf="validation.password.errors && validation.password.dirty">
                    <div class="text-danger" *ngIf="validation.password.errors?.required">Password is
                        required!
                    </div>
                    <div class="text-danger" *ngIf="validation.password.errors?.pattern">
                        Your password must be have at least <br>
                        <ul>
                            <li>1 Uppercase & 1 lowercase character</li>
                            <li>1 Number</li>
                        </ul>
                    </div>
                </div>
                <br>
                <label>Please confirm your password*</label>
                <input type="text" class="form-control border w-100" formControlName="confirm_password"
                    (keyup)="comparePassword()" placeholder="Confirm Password">
                <div *ngIf="validation.confirm_password.errors && validation.confirm_password.dirty">
                    <div class="text-danger" *ngIf="validation.confirm_password?.errors?.required">Please Confirm the
                        password!</div>
                </div>
                <p class="text-danger m-0" *ngIf="!comparePassword() && validation.confirm_password.dirty">
                    Password not match!</p>
                <br>
                <button class="btn btn-primary my-4 w-100" [disabled]="formData.invalid">Reset Password</button>
            </form>
        </div>
    </div>
</div>