/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary: #FD786B;
    --primary-contrast: #fff;
    --blue: #007BFF;
    --primary-font: 16px;
    --secondary-font: 18px;
    --tertiary-font: 20px;
    --primary-font-family: 'Poppins', sans-serif;
}

* {
    border: none !important;
    outline: none;
    font-family: var(--primary-font-family);
}

body {
    background-color: #FEF9F6;
}

.cursor-pointer {
    cursor: pointer !important;
}

.btn-primary {
    background-color: var(--primary)!important;
    color: var(--primary-contrast)!important;
    border-radius: 0px!important;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px!important;
}

.text-primary {
    color: var(--primary)!important;
}

.text-primary-contrast {
    color: var(--primary-contrast);
}

h4 {
    color: var(--primary)!important;
}