<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-color" style="background-color: #F7F7F9;min-height: 100vh;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h4>{{data ? 'Edit' : 'Create'}} PMS</h4>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
      <nav aria-label="breadcrumb" class="w-100">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/'+dataService.collection">All Pms</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{data ? 'Edit' : 'Add'}} Pms</li>
        </ol>
      </nav>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-3 rounded bg-white">
      <div [formGroup]="formData" class="border p-3 rounded w-100" >

        <div class="form-group">
          <label for="name">Enter Name</label>
          <input type="text" class="form-control"  id="name" placeholder="Enter Name" formControlName="name">
        </div>

        <div class="form-group">
          <label for="email">Enter Email</label>
          <input type="text" class="form-control"  formControlName="email" id="email" placeholder="Enter Email" >
        </div>

        <div class="form-group">
          <label for="password">Enter Password</label>
          <input type="text" class="form-control" formControlName="password" id="password" placeholder="Enter Password">
        </div>

        <button [disabled]="formData.invalid" class="btn btn-primary" (click)="onSubmit()" type="button">Create PMS</button>
      </div>
    </div>
    <br><br>
  </main>
