<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-color" style="background-color: #F7F7F9;min-height: 100vh;">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4>All Users</h4>
  </div>

  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center rounded mb-3 border-bottom bg-white p-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Connector Code</th>
              <th scope="col">Mobile</th>
              <th scope="col">Gender</th>
              <th scope="col">Date</th>
              <th scope="col">Notification</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of allData;let i = index">
              <td>{{i+1}}</td>
              <td>{{data?.name}}</td>
              <td>{{data?.connector_code}}</td>
              <td>{{data?.mobile_no}}</td>
              <td>{{data?.gender}}</td>
              <td>{{data?.timestamp.toDate() | date : 'mediumDate'}}</td>
              <td><button class="btn btn-primary" (click)="sendNotification(data.id)"><i
                    class="fa fa-paper-plane"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
  <br><br>
</main>