<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 d-flex" >Loan Unbox Admin

      <!-- <button (click)="toggleSideBar()" class="navbar-toggler position-absolute" type="button" > -->
      <!-- <span class="navbar-toggler-icon"></span> -->
      <!-- </button> -->

     </div>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link cursor-pointer" (click)="logout()">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid"  >
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                            aria-current="page" routerLink="/">
                            <span data-feather="home"></span>
                            Manage Users
                        </a>
                        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                            aria-current="page" routerLink="/leads">
                            <span data-feather="home"></span>
                            Manage Leads
                        </a>
                        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                            aria-current="page" routerLink="/notifications">
                            <span data-feather="home"></span>
                            Manage Notifications
                        </a>
                        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                        aria-current="page" routerLink="/pms">
                        <span data-feather="home"></span>
                        Manage PMS
                    </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>
<h6 class="text-center ml-md-5 p-2" > TRIKAY GROUP</h6>
