<br><br><br><br>
<div class="container d-block d-md-none d-lg-none" style="min-height: 70vh;position: relative;">
    <div class="row">
        <div class="col-md-12 border-bottom">
            <h4>Contact Us</h4>
            <p>Any enquiries related refers please contact</p>
        </div>
    </div>
    <div class="row" style="position: absolute;top: 30%;width: 100%;">
        <div class="col-md-2"></div>
        <div class="col-6 col-md-4 text-center">
            <img src="../../../assets/images/contact.png" class="w-100" alt="">
        </div>
        <div class="col-6 col-md-4 text-center my-auto">
            <a class="btn btn-primary w-100 my-3" href="tel://919481122404"><i class="pi pi-phone"></i> Call</a>
            <a class="btn btn-mail w-100 mb-3" href="mailto:partner@loanunbox.com" target="_blank"><i class="pi pi-envelope"></i> Mail</a> <br>
            <a class="btn btn-success text-white shadow rounded-0 shadow w-100" target="_blank" href="https://wa.me/919481122404"><i class="fa fa-whatsapp"></i> Whatsapp</a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="container d-none d-md-block d-lg-block" style="min-height: 70vh;position: relative;">
    <div class="row">
        <div class="col-md-12 border-bottom">
            <h4>Contact Us</h4>
        </div>
    </div>
    <div class="row" style="position: absolute;top: 20%;width: 100%;">
        <div class="col-md-2"></div>
        <div class="col-6 col-md-4 text-center">
            <img src="../../../assets/images/contact.png" class="w-100" alt="">
        </div>
        <div class="col-6 col-md-4 text-center my-auto">
            <a class="btn btn-primary w-100 my-3" href="tel://919481122404"><i class="pi pi-phone"></i> Call</a> <br>
            <a class="btn btn-mail w-100 my-3" href="mailto:partner@loanunbox.com" target="_blank"><i class="pi pi-envelope"></i> Mail</a> <br>
            <a class="btn btn-success text-white shadow rounded-0 shadow w-100" target="_blank" href="https://wa.me/919481122404"><i class="fa fa-whatsapp"></i> Whatsapp</a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<br><br>