<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12 border-bottom">
            <h4>Contact Us</h4>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-6 col-md-4 text-center">
            <img src="../../../assets/images/contact.png" class="w-100" alt="">
        </div>
        <div class="col-6 col-md-4 text-center my-auto">
            <a class="btn btn-primary w-100 my-3" href="tel://919481122404"><i class="pi pi-phone"></i> Call</a> <br>
            <a class="btn btn-success text-white shadow rounded-0 shadow w-100" target="_blank" href="https://wa.me/919481122404"><i class="fa fa-whatsapp"></i> Whatsapp</a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<br><br>