<div class="container" *ngIf="!isOtpSent">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <h5>Forgot password</h5>
                <input type="number" formControlName="mobile_no" class="form-control">
                <div *ngIf="validation.mobile_no.errors && validation.mobile_no.dirty">
                    <div class="text-danger" *ngIf="validation.mobile_no?.errors?.required">Field is required!
                    </div>
                    <!-- <div class="text-danger" *ngIf="validation.mobile_no?.errors?.max">Number is not more than 10!
                    </div> -->
                </div>
                <button class="btn btn-primary">Send OTP</button>
            </form>
        </div>
    </div>
</div>


<div class="container" *ngIf="isOtpSent">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form [formGroup]="otpForm" (ngSubmit)="vertifyOtp()">
                <h5>Enter OTP</h5>
                <input type="number" formControlName="otp" class="form-control">
                <div *ngIf="validation2.otp.errors && validation2.otp.dirty">
                    <div class="text-danger" *ngIf="validation2.otp?.errors?.required">Field is required!
                    </div>
                    <!-- <div class="text-danger" *ngIf="validation.mobile_no?.errors?.max">Number is not more than 10!
                    </div> -->
                </div>
                <button class="btn btn-primary">Send OTP</button>
            </form>
        </div>
    </div>
</div>