<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <h5>password page</h5>
                <input type="password" formControlName="password" class="form-control">
                <div *ngIf="validation.password.errors && validation.password.dirty">
                    <div class="text-danger" *ngIf="validation.password?.errors?.required">Field is required!
                    </div>
                </div>
                <button class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
</div>