<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12 border-bottom">
            <h4>Notifications</h4>
            <p class="text-muted">You can see here your all notifications.</p>
        </div>
    </div>
</div>

<ng-container *ngIf="service.allData.length!=0">
    <div class="container">
        <div class="row">
            <div class="col-md-6" *ngFor="let notification of service.allData">
                <div class="row py-3">
                    <div class="col-2">
                        <div class="icon-container">
                            <i class="pi pi-bell"></i>
                        </div>
                    </div>
                    <div class="col-10 border-bottom">
                        <h5>{{notification?.title}}</h5>
                        <span>{{notification?.sub_title}}</span>
                        <p class="font-small">
                            {{notification?.message}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="service.allData.length==0">
    <empty-view>
        <div class="d-none d-md-block d-lg-block">
            <img src="../../../assets/svg/bell.svg" width="10%" alt="">
        </div>
        <div class="d-block d-md-none d-lg-none">
            <img src="../../../assets/svg/bell.svg" width="30%" alt="">
        </div>
        <br>
        <b>Oops!</b>
        <p>You don't have any notifications yet!</p>
    </empty-view>
</ng-container>
<br>