<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-color" style="background-color: #F7F7F9;min-height: 100vh;">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4>All Leads</h4>
    <p-dropdown [options]="allStates" optionLabel="name" [filter]="true"  filterBy="name" [(ngModel)]="state" (onChange)="onStateChange()" placeholder="Select a state" [showClear]="true"></p-dropdown>
  </div>

  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center rounded mb-3 border-bottom bg-white p-3 w-100"
    style="overflow-x: scroll;">

    <div class="row w-100">
      <div class="col-md-12">
        <p-table #dt [resizableColumns]="true" styleClass="p-datatable-responsive-demo p-datatable-gridlines"
          [columns]="cols" [value]="allData" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
          [globalFilterFields]="['connector_code','email','mobile_no','amount','description','status','address_details.state']">
          <ng-template pTemplate="caption">
            <div class="table-header">
              <div class="row">
                <div class="col-md-8 col-lg-8 col-12 my-2">
                  <h5>All Leads</h5>
                </div>
                <div class="col-md-4 col-lg-4 col-12 my-2" style="text-align: right;">
                  <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                      placeholder="Global Search" />
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="{{col.field}}" pResizableColumn *ngFor="let col of columns">
                {{col.header}} <p-sortIcon style="float: right;" field="{{col.field}}"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="p-selectable-row">
              <td *ngFor="let col of columns">
                <span class="p-column-title">{{col.header}}</span>

                <ng-container
                  *ngIf="col.field != 'connectorDetails' && col.field != 'prefix'  && col.field != 'comment' && col.field != 'address_details' && col.field != 'timestamp' && col.field != 'status'">
                  <span>{{rowData[col.field]}}</span>
                </ng-container>

                <ng-container *ngIf="col.field == 'connectorDetails'">
                  <span>{{rowData[col.field]?.firstName}}</span>
                  &nbsp;<span>{{rowData[col.field]?.middleName}}</span>&nbsp;
                  <span>{{rowData[col.field]?.lastName}}</span>
                </ng-container>

                <ng-container *ngIf="col.field == 'prefix'">
                  <span>{{rowData['firstName']}}</span>
                  &nbsp;<span>{{rowData['middleName']}}</span>&nbsp;
                  <span>{{rowData['lastName']}}</span>
                </ng-container>

                <ng-container *ngIf="col.field == 'timestamp'">
                  <span>{{rowData['timestamp'].toDate() | date : 'mediumDate'}}</span>
                </ng-container>

                <ng-container *ngIf="col.field == 'status'">
                  <select name="status" [ngModel]="rowData['status']" (change)="onStatusChange(rowData['id'],$event)">
                    <option value="pending">Pending</option>
                    <option value="progress">Progress</option>
                    <option value="approved">Approved</option>
                    <option value="rejected">Rejected</option>
                  </select>
                </ng-container>

                <ng-container *ngIf="col.field == 'comment'">
                  <div class="d-flex align-items-center">

                    <textarea #inp [(ngModel)]="rowData['comment']"  id="" cols="15" rows="2"></textarea>

                    <button class="btn btn-success mx-1" (click)="saveComment(rowData['id'],inp.value)"><i
                    class="fa fa-save"></i></button>
                  </div>

                </ng-container>

                <ng-container *ngIf="col.field == 'info'">
                  <button class="btn btn-primary" (click)="viewInfo(rowData)">
                    <i class="fa fa-info"></i>
                  </button>
                </ng-container>

              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="11">No Data Found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <br><br>
</main>




<p-dialog *ngIf="viewData" header="Info" [(visible)]="displayBasic" [breakpoints]="{'960px': '50vw', '640px': '90vw'}"
  [style]="{width: '50vw'}">

  <ng-container *ngFor="let itm of informations;let i = index">
    <ng-container *ngIf="itm?.field != 'status' && itm?.field != 'address_details'  && itm?.field != 'connectorDetails'  && itm?.field != 'prefix'  && itm?.field != 'comment'">
      <p> <b> {{itm?.header}} </b> : {{viewData[itm.field]}} </p>
    </ng-container>

    <ng-container *ngIf="itm.field == 'connectorDetails'">
      <p> <b> {{itm?.header}} </b>  <span *ngIf="viewData[itm.field]?.firstName">{{viewData[itm.field]?.firstName}}</span>
      &nbsp;<span *ngIf="viewData[itm.field]?.middleName">{{viewData[itm.field]?.middleName}}</span>&nbsp;
      <span *ngIf="viewData[itm.field]?.lastName">{{viewData[itm.field]?.lastName}}</span> </p>
    </ng-container>

    <ng-container *ngIf="itm.field == 'prefix'">
      <p> <b> {{itm?.header}} : </b>   <span *ngIf="viewData['firstName']">{{viewData['firstName']}}</span>
      &nbsp;<span *ngIf="viewData['middleName']">{{viewData['middleName']}}</span>&nbsp;
      <span *ngIf="viewData['lastName']">{{viewData['lastName']}}</span> </p>
    </ng-container>


    <ng-container *ngIf="itm.field == 'address_details'">
      <p class="mb-0" *ngIf="viewData['address_details']?.flat_street">
        <b>Address : </b>
        {{viewData['address_details']?.flat_street}},{{viewData['address_details']?.address}},{{viewData['address_details']?.city}},{{viewData['address_details']?.pincode}},{{viewData['address_details']?.state}}
      </p>

    </ng-container>

    <ng-container *ngIf="itm.field == 'comment'">
      <div class="d-flex align-items-center mt-2">
        <textarea #inp [(ngModel)]="viewData['comment']" id="" cols="50" rows="5"></textarea>
        <button class="btn btn-success mx-2" (click)="saveComment(viewData['id'],inp.value)"><i
            class="fa fa-save"></i></button>
      </div>
    </ng-container>

  </ng-container>



  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
